@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0f14;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0a5c5c, #16bfbf);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #16bfbf, #0a5c5c);
}
